body{
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(147, 240, 217));
    font: 22px Arial, sans-serif;
    
    
}

.navbar{
    background-image: linear-gradient(to right, rgba(238, 238, 224, 0.89) , rgb(0, 255, 191));
    }
    

.quem-somos{
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(147, 240, 217));
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: rgb(218, 244, 253);
    cursor:pointer;
    transition:all 700ms ease-in-out;
    
}
 
.dev{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    transition:all 700ms ease-in-out;
    text-decoration: none;

}



.navbar-brand{
    font: 40px;
}

.parceiros:hover{
    transform: translatey(-1.2rem);
    box-shadow: 2px 3px 14px rgba(255,255,255,0.7);
    opacity: 0.4;
}

.dev:hover{
    opacity: 0.4;
    
}